<%- include("partials/header.ejs") %>

<% if(isAuth){ %>
<%- include("partials/navbar.ejs") %>
<% }else{ %>
  <div class="text-center m-auto mt-5 mb-4  fs-4 w-50">
    <a class="text-danger" href="/register">Register</a> now and share your secrets anonymously!
  </div>
<% } %>
<div class="page_container">

  <div class="row">

    <% if(allSecrets.length <= 0){ %>
      <div class="mt-5 text-center">No item to show.. Share your secret anonymously.</div>
    <% } else { %>
    <% allSecrets.forEach(secret => { %>
    <div class="col-md-6 col-lg-4 col-xl-3 col-xxl-2 secret_content p-0" style="background-color:#<%=secret.bgcolor%>">
      <p class="p-2 m-0 d-flex align-items-center justify-content-center text-center lh-sm fs-4 secret__text" ><%= secret.secret%></p>
      <div class="secret-card_bottom d-flex justify-content-between px-2">
        <div class="secret-date">
          <i class="fa-regular fa-clock"></i>
          <span class="time_publish"><%= new Date(secret.createdAt).toLocaleDateString()  %></span>
        </div>
        <div class="secret-likes d-flex">
          <form action="/secrets/like" method="post">
            <button typle="submit" name="likesBtn" value="<%= secret._id%>" class="bg-transparent border-0 text-white">
              <i class="fa-regular fa-heart"></i>
            </button>
          </form>
          <span><%= secret.likes %></span>
        </div>
      </div>
    </div>
    <% }) %>
    <% } %>

  </div> 

</div>



<%- include("partials/footer.ejs") %>